<head>
  <title>leit·mo·tif</title>
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <script src="{{ url_for('static', filename='p5.min.js') }}"></script>
  <script src="{{ url_for('static', filename='p5.gibber.js') }}"></script>
</head>
<style>
body {
  padding:0;
  margin:0;
}
</style>
<script>
function setup() {
  createCanvas( windowWidth, windowHeight )
  drums = EDrums( 'xo-o' )
  {% if psychosis == True %}
  a = FM({ maxVoices:4, index:10, cmRatio:1.0333 })
  {% else %}
  a = Pluck()
  {% endif %}
  a.fx.add( Reverb({ roomSize: Add( .75, Sine( .05, .245 )._ ) }) )

  snp_notes = [{{notes}}]
  {% if caffeine == 'high' %}
  a.note.seq( snp_notes, 1/16 )
  {% else %}
  a.note.seq( snp_notes, 1/8 )
  {% endif %}
}
function draw() {
  background( 64 )
}
</script>
<body>
<div class="container">
  <div class="jumbtron">
    {% if caffeine == 'high' %}
    <h2>You have high caffeine metabolism. We have increased the time signature to 8/4.</h2>
    {% endif %}
  </div>
</div>
</body>
